h1{
  text-align: center;
  color: #ff5050;
  font-family: Georgia;
  font-size: 10000;
}
a{
  color: #00ff33;
  font-family: Georgia;
  font-size: 1000;
}
button{
  border-color: #00ff33;
  background: #b2b2b2;
  color: #00ff33;
  border-radius: 5px;
  font-family: Georgia;
  font-size: 700;
}
#holderofgigi{
  width:780px;
    margin: auto;
}
h4{
  font-family: Georgia;
  fo
}
