h1{
  text-align: center;
  color: #ff5050;
  font-family: Georgia;
}
a{
  color: #00ff33;
}
button{
  border-color: #00ff33;
  background: #b2b2b2;
  color: #00ff33;
  border-radius: 5px;
}
#holderofgigi{
  width:780px;
    margin: auto;
}
