h1{
    color: #ff6666;
    font-family: Papyrus;
}
h3{ 
    color: #66ffff;
    font-family: Arial Rounded MT Bold;
}
h4{
    color: #00ff00;
    font-family: Arial Narrow;
}
h2{
    color: #cc0099;
    font-family: Baskerville;
}
